.title{
    text-align: center;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    color: #363636;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.adopcion{
    text-align: center;
    box-sizing: inherit;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    color: #363636;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.banner{
    background-color: #eb212e!important;
    background-size: cover!important;
    margin-top: 75px;

}