.title{
    text-align: center;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    color: #363636;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
}
.pasos{
    text-align: center;
    box-sizing: inherit;
    font-size: 16px;
    line-height: 1.1;
    font-weight: 400;
    color: #363636;
    font-family: Poppins,sans-serif;
    -webkit-font-smoothing: antialiased;
}